* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

/* :root {
  --baseCard: color: rgba(255, 255, 255, 0.309);
  --baseDiv: color: rgba(255, 255, 255, 0.608);
  --divHover: color: rgba(230, 230, 230, 0.608);
  --baseInput: color: rgba(196, 196, 196, 0.694);
  --baseDate: color: rgba(255, 255, 255, 0.092);
  --baseSettings: color: rgba(0, 0, 0, 0.331);
} */

#background-image {
  position: fixed;
  left: 0;
  top: 0;
  background-image: url("../images/macos-big-sur-stock-night-lone-tree-sedimentary-rocks-3840x2160-3776.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.date-time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  position: absolute;
  top: 20px;
  border-radius: 10px;
  background-color: rgba(83, 83, 83, 0.2);
  backdrop-filter: blur(3px) grayscale(50%);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.411);
  min-width: 300px;
  max-width: 350px;
  height: 40px;
  flex-shrink: 1;
}

#time-span {
  color: white;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
}

#date-span {
  color: white;
  font-size: 16px;
  font-weight: 300;
}

.title-container {
  position: relative;
  height: auto;
  width: auto;
}

#save-title-btn {
  position: absolute;
  right: -130px;
  top: 15px;
}

#edit-title {
  margin-bottom: 40px;
  font-size: 42px;
  font-weight: 600;
  color: white;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.407);
  text-decoration: none;
}

.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 300px;
  width: 95%;
  height: 400px;
  gap: 30px;
}

@media (min-width: 1010px) and (max-width: 1358px) {
  .dashboard-container {
    max-width: 950px;
  }
}
@media (max-width: 470px) {
  #edit-title {
    font-size: 38px;
  }
}

@media (max-width: 415px) {
  #edit-title {
    font-size: 28px;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 200px;
  width: 300px;
  height: inherit;
  border-radius: 12px;
  /* background-color: rgba(255, 255, 255, 0.309); */
  background-image: linear-gradient(
    to top,
    rgba(83, 83, 83, 0.2),
    rgba(255, 255, 255, 0.309),
    rgba(255, 255, 255, 0.309),
    rgba(83, 83, 83, 0.2)
  );
  backdrop-filter: blur(3px) grayscale(20%) brightness(95%);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.411);
  transition: 0.1s ease-in;
  padding: 20px 0px;
  /* overflow: hidden; */
}

/* @media (max-width: 1500px) {
  .card {
    height: 340px;
    width: 260px;
  }
} */

.card h2 {
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 28px;
}

.card-content {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  max-height: 70%;
  /* border: 1px solid red; */
  height: 70%;
  width: 100%;
  gap: 10px;
  padding: 0px 20px;
  margin-bottom: 20px;
}

#card-content-notes {
  max-height: 100%;
  height: 100%;
}

.link-div {
  position: relative;
  padding-left: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 55px;
  height: 55px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.608);
  transition: 0.15s ease-in;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.link-div:hover {
  background-color: rgba(230, 230, 230, 0.608);
  transform: scale(102%);
}

#favicon {
  min-width: none;
  min-height: none;
  width: auto;
  flex-shrink: 0;
  height: calc(100% - 5px);
  max-width: 35px;
  max-height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

#quick-link-span {
  margin-left: 10px;
  font-weight: 600;
  color: black;
  user-select: none !important;
  font-size: 15px;
  z-index: 99999;
  opacity: 70%;
}

#quick-link-span:hover {
  color: rgba(0, 0, 255, 0.511);
}

.link-href {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 90%;
  height: 100%;
  border-radius: 8px;
  z-index: 999;
}

#delete-link-button {
  display: none !important;
  opacity: 0 !important;
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 30%;
  cursor: pointer;
  z-index: 999;
}

#delete-link-button {
  display: flex;
  opacity: 1 !important;
}

#delete-link-button:hover {
  transform: scale(130%);
  color: white;
  opacity: 80%;
}

.link-div:hover #delete-link-button {
  display: flex !important;
  opacity: 30% !important;
}

button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 27px;
  width: 120px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.318);
  border: none;
  color: white;
  font-weight: 500;
  gap: 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.412);
}

#add-link-icon {
  color: rgba(255, 255, 255, 0.617);
  margin-top: 2px;
}

#add-link-div {
  position: relative;
  height: auto;
  width: auto;
  display: none;
  opacity: 0;
}

.show-input {
  opacity: 1 !important;
  display: flex !important;
}

.delayed-width-input {
  width: 260px !important;
}

.input-style {
  width: 120px;
  height: 27px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: rgba(217, 217, 217, 0.694);
  color: white;
  padding-left: 20px;
  transition: 0.1s ease-in;
  font-size: 14px;
}

#link-input::placeholder {
  color: red;
  opacity: 70%;
}

#add-link-icon-input {
  position: absolute;
  color: white;
  right: 10px;
  bottom: 13px;
  justify-self: center;
  opacity: 60%;
  cursor: pointer;
}

#add-link-icon-input:hover {
  opacity: 100%;
  transform: scale(110%);
}

#max-links-text {
  position: absolute;
  bottom: 55px;
  font-size: 12px;
  font-weight: 600;
}

.show-input {
  opacity: 1 !important;
  display: flex !important;
}

.hide-input {
  opacity: 0 !important;
}

.notes-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.608);
  border-radius: 8px;
  padding: 10px;
  margin: 0;
}

#notes-text {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
  color: black;
  font-weight: 550;
  margin: 0;
  outline: none;
  word-break: break-all;
}

#notes-controls {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  gap: 20px;
}

#notes-controls img {
  height: calc(100% - 10px);
  width: auto;
  opacity: 40%;
  cursor: pointer;
}

#notes-controls img:hover {
  opacity: 80%;
}

.active-align {
  border: 2px solid rgba(0, 0, 0, 0.448);
  border-radius: 4px;
  opacity: 80% !important;
}

.weather-div {
  position: relative;
  padding-left: 13px;
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 55px;
  height: 55px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.6);
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.weather-atmo {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(80%);
  transition: 0.1s ease-in;
}

.weather-div:hover .weather-atmo {
  filter: grayscale(0);
  transform: scale(110%);
}

.clear {
  background-image: url(../images/Clear.png);
  opacity: 100%;
}
.cloudy {
  background-image: url(../images/Cloudy.png);
  opacity: 50%;
}
.partly {
  background-image: url(../images/PartlyCloudy.png);
  opacity: 50%;
}
.rain {
  background-image: url(../images/Rain.png);
  filter: grayscale(80%) contrast(200%);
}
.snow {
  background-image: url(../images/Snow.png);
}
.thunderstorm {
  background-image: url(../images/Thunderstorm.png);
  filter: grayscale(80%) contrast(200%);
}

.weather-image-container {
  display: flex;
  justify-content: center;
  width: 55px;
  margin-right: 13px;
}

#weather-image {
  opacity: 100%;
  color: rgba(0, 0, 0, 0.655);
  font-size: 42px;
}

.weather-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
  gap: 3px;
}

.weather-line-div {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.day-title {
  font-size: 12px;
  font-weight: bold;
}

.weather-small-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  max-width: 50px;
  width: auto;
  background-color: rgba(255, 255, 255, 0.33);
  border-radius: 6px;
  padding: 3px 6px;
}

.forecast {
  max-width: 120px;
}

.weather-small-container p {
  font-weight: bold;
  font-size: 10px;
  text-align: center;
}

#location-input {
  width: 20px;
  margin-top: 10px;
  display: none;
  opacity: 0;
}

#location-input::placeholder {
  color: white;
  margin-right: 20px;
  text-align: center;
}

#search-filter-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  justify-self: center;
  bottom: -70px;
  width: 240px;
  height: 90px;
  max-height: 90px;
  min-height: 27px;
  z-index: 1;
  gap: 3px;
}

#search-item {
  width: 100%;
  height: 27px;
  background-color: rgba(0, 0, 0, 0.456);
  border-radius: 8px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

#search-item:focus {
  border: 1px solid white;
}

#search-item:hover {
  background-color: rgba(22, 22, 22, 0.348);
}

#item-capital-name {
  display: flex;
  font-size: 12px;
  gap: 5px;
}

#item-country-span {
  font-size: 12px;
  opacity: 60%;
}

.location-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: auto;
  height: auto;
  margin-top: 10px;
}

#current-location-span {
  font-weight: 500;
  color: white;
  cursor: pointer;
  transition: 0.1s ease-in;
}

#current-location-span:hover {
  opacity: 70%;
  transform: translateY(-2px);
}

#pin {
  color: white;
  opacity: 60%;
}

.hide-pin {
  display: none !important;
  opacity: 0 !important;
}

.card-background-image {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  opacity: 40%;
  filter: grayscale(1);
  border-radius: 12px;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0), #000);
  mask-image: linear-gradient(rgba(0, 0, 0, 0), #000);
}

.bg-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.499);
  top: 20px;
  right: 20px;
  border-radius: 10px;
  color: white;
  padding: 0px 12px;
  gap: 8px;
  overflow: hidden;
  transition: width 0.1s ease-in;
  padding: 0;
  margin: 0;
}

.bg-btn i {
  transition: transform 0.2s ease-in;
}

.bg-btn:hover {
  background-color: rgba(0, 0, 0, 0.499);
  width: 120px;
}

.bg-btn:hover input {
  display: flex;
}

#newBg-text {
  font-weight: 600;
  cursor: pointer;
}

.bg-btn:hover #clearImageStorageBtn {
  display: flex;
}

.bg-btn:hover #clearApiKeyBtn {
  display: flex;
}

#clearImageStorageBtn {
  margin-right: 10px;
  display: none;
  z-index: 99999;
  opacity: 70%;
  cursor: pointer;
}

#clearImageStorageBtn:hover {
  opacity: 100%;
  transform: rotate(450deg);
}

#clearApiKeyBtn {
  margin-right: 10px;
  display: none;
  z-index: 99999;
  opacity: 70%;
  cursor: pointer;
}

#clearApiKeyBtn:hover {
  opacity: 100%;
  transform: scale(110%) rotate(-20deg);
}

#newBg-icon {
  cursor: pointer;
  opacity: 70%;
}

#newBg-icon:hover {
  opacity: 100%;
  transform: scale(110%);
}

#clear-info-text {
  display: none;
  position: absolute;
  top: 70px;
  right: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.51);
  padding: 5px 10px;
  border-radius: 6px;
}

#clearApiKey-info-text {
  display: none;
  position: absolute;
  top: 70px;
  right: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.51);
  padding: 5px 10px;
  border-radius: 6px;
}

#random-image-info-text {
  display: none;
  position: absolute;
  top: 70px;
  right: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.51);
  padding: 5px 10px;
  border-radius: 6px;
}

#random-background-btn:hover {
  width: 180px;
}

#random-background-btn:hover #settings-icon {
  display: none;
}

#random-background-btn:hover #apiKey {
  display: flex;
}

#apiKey {
  display: none;
  width: 150px;
  height: calc(100% - 15px);
  border: none;
  background-color: rgba(0, 0, 0, 0.449);
  outline: none;
  color: white;
  border-radius: 4px;
  padding-left: 10px;
  border: 1px solid rgba(255, 255, 255, 0.404);
}

#apiKey::placeholder {
  color: rgba(255, 255, 255, 0.587);
  font-size: 12px;
  margin-left: 10px;
}

.repo-div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-height: 55px;
  height: 55px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.608);
  transition: 0.15s ease-in;
  overflow: hidden;
  gap: 5px;
  padding: 0px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.repo-div:hover {
  background-color: rgba(230, 230, 230, 0.608);
}

.repo-name-div {
  display: flex;
  align-self: flex-start;
  margin-left: 25px;
  /* border: 1px solid red; */
  gap: 5px;
  opacity: 80%;
}

.repo-name {
  font-size: 12px;
  font-weight: 650;
}

.repo-icon {
  margin-top: 7px;
}

.repo-stats-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
  width: 100%;
  gap: 13px;
}

.repo-container-small {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: auto;
  background-color: rgba(0, 0, 0, 0.33);
  border-radius: 6px;
  padding: 3px 6px;
  /* border: 1px solid purple; */
  gap: 3px;
}

.repo-container-small p {
  color: white;
  font-weight: 600;
}

.repo-stats-title {
  font-size: 11px;
  opacity: 70%;
}

.small-span {
  font-size: 11px;
}

.small-span-lang {
  font-weight: 550;
  font-size: 10px;
}

.github-repo-link {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  z-index: 999;
}

.github-user-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: auto;
  height: auto;
  margin-top: 10px;
}

#github-icon {
  color: white;
  opacity: 70%;
}

#user-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-size: cover;
}

#github-user-text {
  color: white;
  font-weight: 450;
  cursor: pointer;
  transition: 0.1s ease-in;
}

#github-user-text:hover {
  opacity: 70%;
  transform: translateY(-2px);
}

#github-user-input {
  display: none;
  width: 0px;
  margin-top: 10px;
}

#github-user-input::placeholder {
  color: rgb(255, 255, 255);
  opacity: 70%;
  font-weight: 500;
}

#github-card {
  overflow: hidden;
}

#github-card-image {
  background-image: url(../images/github.svg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 40%;
  bottom: -30px;
  transform: scale(70%);
}
